$bp-phone: 450px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$lead-font: "Poppins";
$second-font: "Belgrano", serif;

$corp-color: #fa504d;
$black: #2e2f38;
$grey: #8e8e8e;
